.box {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes boxColor {
  0% {
    background-color: darkgreen;
    transform: rotate(0deg);
    color: white;
  }

  50% {
    background-color: red;
    transform: rotate(300deg);
  }

  90% {
    transform: rotate(-300deg);
  }

  100% {
    background-color: cyan;
    transform: rotate(0deg);
    color: black;
  }
}

@keyframes boxPositions {
  0% {
    transform: translate(0px, 0px);
  }

  30% {
    transform: translate(400px);
  }

  55% {
    transform: translate(300px, -200px);
  }

  80% {
    transform: translate(150px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes crazy {
  0% {
    transform: translate(0px) rotate(0deg);
    font-size: 1em;
  }

  100% {
    transform: translate(500px) rotate(800deg);
    font-size: 5em;
  }
}

.box-animated {
  text-align: center;
  /* animation: nome durata curva-di-accelerazione ritardo numero-di-volte fill-mode */
  animation: boxColor 3s linear 0s 1 forwards;
}

.box-moving {
  text-align: center;
  background-color: indigo;
  color: white;
  animation: boxPositions 4s ease 0s infinite;
}

.box-crazy {
  text-align: center;
  background-color: coral;
  color: white;
}

.animated {
  animation: crazy 3s linear 0s infinite alternate;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-container button {
  width: 50px;
  background-color: lime;
  color: black;
  border: 1px solid lime;
  border-radius: 20%;
}
